@{
    ViewData["Title"] = "Azure";
}

<div class="text-center">
    <h1 class="display-4">Публікація проекта на Azure</h1>
</div>

<p>
    Публікація проекту (Deploy) - розміщення кодів ресурсу на віддалених серверах,
    що підтримують його роботу.
</p>
<p>
    По факту ми маємо два проетки: один локальний, який запускається у Студії,
    та віддалений (опублікований), який доступний у мережі.
    Відрізнити їх можна за адресою у браузері - у локального це localhost.
    Локальний проект при запуску має доступ до файлової системи ПК, а також до
    встановлених на ньому програм. Опублікований - тільки до тих файлів, що 
    були переміщені на сервер.
    !! Публікація повністю замінює файли на сервері, це може стерти результати
    попередньої роботи.
</p>
<p>
    Організація публікації:
    на Azure створюємо сервіс AppService - WebApp,
    утворюємо ресурсну групу, це дозвоить групувати проекти,
    встановлюємо ім'я сайту (підібрати вільне), встановлюємо тарифний план
    (! відпочатку пропонується не безкоштовний план)
    чекаємо на рогортання ресурсу. Звертаємо увагу на ОС, яка буде створена,
    та вибираємо оточення (версію .NET), яка має збігатися із версієї сайту,
    що розробляється (ASP-проекту.)

    Після того як ресурс готовий, налаштовуємо профіль публікації у Студії.
    Меню Build -- Publish або ПКМ по проекту в експлорері -- Publish.
    Зазаначаємо підключеня до Azure, обираємо обліковий запис,
    після вибору облікового запису автоматично підтягуються відомості про русурси,
    обираємо створений веб-ресурс.
    Обираємо систему збирання (має відповідати системі, що зазначена при створені ресурсу).

    Після створеня профілю публікації запускаємо саму публікацію.
    За фактом цспішної публікації буде відкрито браузер на опублікованому сайті.
</p>
<p>
    По факту внесення змін до локального проекту їх бажано перевірити
    на localhost після чого опублікувати. При раніше створеному профілі
    достатньо просто натиснути "Publish"
</p>    
Д.З. опублікувати ASP проект, доповнити сторінку з інструкціями про публікацію скріншотами.
Прикласти посилання на створений сайт.