@{
    ViewData["Title"] = "Вступ";
}

<div>
    <h1 class="display-4">Вступ до ASP.NET Core MVC</h1>
</div>

<p>
    ASP.NET Core MVC - фреймворк .NETдля створення серверних застосунків.
</p>
<p>
    Клчові риси
</p>
<ul>
    <li>Автоматичка маршрутизація за збігом імен: /Controller/Action </li>
    <li>Автоматичний вибір представлень (View) за іменем Action</li>
    <li>Шаблонізація (однаковий шаблон для різних сторінок)</li>
    <li>Наявність підключених бібліотек (Bootstrap, jQuwry)</li>
    <li>Структура MVC ОПП</li>
</ul>